USE [BalanzaDB]
    GO
/****** Objeto: Table [dbo].[Registros] Fecha de script: 4/6/2026 23:37:25 ******/
    SET ANSI_NULLS ON
    GO
    SET QUOTED_IDENTIFIER ON
    GO
CREATE TABLE [dbo].[Registros](
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [Fecha] [date] NULL,
    [Nro_Cupon] [int] NULL,
    [Nro_Productor] [varchar](50) NULL,
    [Nombre] [varchar](100) NULL,
    [Peso_Bruto] [decimal](10, 2) NULL,
    [Tara] [decimal](10, 2) NULL,
    [Descuento] [decimal](5, 2) NULL,
    [Peso_Neto] [decimal](10, 2) NULL,
    [Remito] [int] NULL,
    PRIMARY KEY CLUSTERED
(
[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    ) ON [PRIMARY]
    GO

-- Crear el usuario
CREATE LOGIN balanza_user WITH PASSWORD = 'balanza123';
GO
USE BalanzaDB;
GO
CREATE USER balanza_user FOR LOGIN balanza_user;
GO
ALTER ROLE db_owner ADD MEMBER balanza_user;
GO